<body>
  <section>
    <div class="container-fluid">
      <div class="row mt-2 mb-2">
        @for (item of pokemonList; track trackByUrl) {
          <div class="col-md-3 col-12">
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <img [src]="getPokemonImageUrl(item.url)" class="card-img-top mb-2 rounded">
              </div>
              <h5 class="card-title">{{ item.name }}</h5>
              <a [routerLink]="['/pokemon-detail', getPokemonId(item.url)]" class="btn btn-primary">View detail</a>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
</body>